.background{
    background-image: url(); 
    height: 980px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    margin-left: 25%;
    margin-right: 25%; 
}

.logo{
    margin-top: 10%;
    width: 100%;
    margin-bottom: 2%;
}

.header{
    color: #2F86A6;
    text-align: center;
    margin-bottom: 10%;
    margin-bottom: 20%;
}

.divOne{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #D35D6E;
    color: white;
    border-radius: 5px;
}

.divTwo{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #EFB08C;
    color: white;
    border-radius: 5px;
}

.divThree{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #F8D49D;
    color: white;
    border-radius: 5px;
}

.divFour{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #5AA469;
    color: white;
    border-radius: 5px;
}

.divOne:hover,.divTwo:hover, .divThree:hover, .divFour:hover{
    cursor: pointer;
    margin-left: 10px;    
    -moz-transition: margin-left .5s; /* Firefox 4 */
    -webkit-transition: margin-left .5s; /* Safari and Chrome */
    -o-transition: margin-left .5s; /* Opera */
    margin-right: 10px;
    -moz-transition: margin-right .5s; /* Firefox 4 */
    -webkit-transition: margin-right .5s; /* Safari and Chrome */
    -o-transition: margin-right .5s; /* Opera */
}